In [5]:
import pandas as pd 
import numpy as np

Leia o conjunto de dados games.csv, mostrando as informações básicas.

In [8]:
dataset = pd.read_csv('data//games.csv')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [9]:
dataset

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

Estatisticas BAsics

In [10]:
dataset.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

In [12]:
dataset.shape

(16719, 16)

Soma dos valores faltantes

In [14]:
dataset.isna().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

Excluir todas as linhas com valores ausentes

In [15]:
dataset = dataset.dropna()

In [16]:
dataset.shape

(6825, 16)

Verificar se existem linhas duplicadas

In [17]:
dataset.duplicated().sum()

np.int64(0)

In [18]:
dataset.dtypes

Name                object
Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score          object
User_Count         float64
Developer           object
Rating              object
dtype: object

Converter os tipos de dados, de acordo com os tipos listados abaixo.

In [20]:
dataset = dataset.astype({'Year_of_Release': 'int', 'Critic_Count': 'int', 'User_Score': 'float64'})

In [21]:
dataset.dtypes

Name                object
Platform            object
Year_of_Release      int64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count         int64
User_Score         float64
User_Count         float64
Developer           object
Rating              object
dtype: object

Criar uma função para atualizar o atributo User_Score, para que ele fique na mesma escala do atributo Critic_Score (basta multiplicar por 10)
Use apply para atualizar o dataframe

In [23]:
def update(score):
    return score * 10

In [25]:
dataset["User_Score"] = dataset['User_Score'].apply(update)
dataset.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51,800.0,322.0,Nintendo,E
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73,830.0,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73,800.0,192.0,Nintendo,E
6,New Super Mario Bros.,DS,2006,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65,850.0,431.0,Nintendo,E
7,Wii Play,Wii,2006,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41,660.0,129.0,Nintendo,E

Excluir as seguintes colunas: ["NA_Sales", "JP_Sales", "EU_Sales", "Other_Sales", "Critic_Count", "User_Count"]

In [26]:
dataset.drop(["NA_Sales", "JP_Sales", "EU_Sales", "Other_Sales", "Critic_Count", "User_Count"], axis = 1, inplace = True)

In [27]:
dataset.head()

,Name,Platform,Year_of_Release,Genre,Publisher,Global_Sales,Critic_Score,User_Score,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,82.53,76.0,800.0,Nintendo,E
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,35.52,82.0,830.0,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,32.77,80.0,800.0,Nintendo,E
6,New Super Mario Bros.,DS,2006,Platform,Nintendo,29.80,89.0,850.0,Nintendo,E
7,Wii Play,Wii,2006,Misc,Nintendo,28.92,58.0,660.0,Nintendo,E

In [ ]:
dataset.iloc[[32556, 32558]]

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
32556,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

Mostrar a contagem de valores para cada coluna categórica.

In [28]:
for column in dataset.columns:
  if dataset[column].dtype == object:
    print('------- ', column, '---------')
    print(dataset[column].value_counts(normalize = True))
    print()

-------  Name ---------
Name
Madden NFL 07                                   0.001172
Need for Speed: Most Wanted                     0.001172
LEGO Star Wars II: The Original Trilogy         0.001172
Terraria                                        0.001026
Madden NFL 08                                   0.001026
                                                  ...
Brain Age: Train Your Brain in Minutes a Day    0.000147
Wii Fit                                         0.000147
Wii Sports Resort                               0.000147
Mario Kart Wii                                  0.000147
Wii Sports                                      0.000147
Name: proportion, Length: 4377, dtype: float64

-------  Platform ---------
Platform
PS2     0.167033
X360    0.125714
PS3     0.112674
PC      0.095385
XB      0.082784
Wii     0.070183
DS      0.067985
PSP     0.057143
GC      0.050989
PS4     0.035018
GBA     0.034725
XOne    0.023297
3DS     0.022711
PS      0.021978
PSV     0.017289
WiiU    0.013040
DC      0.002051
Name: proportion, dtype: float64

-------  Genre ---------
Genre
Action          0.238828
Sports          0.138168
Shooter         0.126593
Role-Playing    0.104322
Racing          0.085128
Platform        0.059048
Misc            0.056264
Fighting        0.055385
Simulation      0.043516
Strategy        0.039121
Adventure       0.036337
Puzzle          0.017289
Name: proportion, dtype: float64

-------  Publisher ---------
Publisher
Electronic Arts                0.138315
Ubisoft                        0.072674
Activision                     0.072088
Sony Computer Entertainment    0.046300
THQ                            0.044982
                                 ...
Lighthouse Interactive         0.000147
CDV Software Entertainment     0.000147
Encore                         0.000147
Blue Byte                      0.000147
NewKidCo                       0.000147
Name: proportion, Length: 262, dtype: float64

-------  Developer ---------
Developer
EA Canada                                                       0.021832
EA Sports                                                       0.020806
Capcom                                                          0.018462
Ubisoft                                                         0.015092
Konami                                                          0.013919
                                                                  ...
TDK Mediactive                                                  0.000147
Retro Studios, Entertainment Analysis & Development Division    0.000147
Autumn Moon                                                     0.000147
Tate Interactive                                                0.000147
Elixir Studios                                                  0.000147
Name: proportion, Length: 1289, dtype: float64

-------  Rating ---------
Rating
T       0.348278
E       0.305055
M       0.209963
E10+    0.136264
AO      0.000147
K-A     0.000147
RP      0.000147
Name: proportion, dtype: float64

jogos mais vendidos

In [29]:
dataset.sort_values(["Global_Sales"], ascending = [False]).head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,Global_Sales,Critic_Score,User_Score,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,82.53,76.0,800.0,Nintendo,E
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,35.52,82.0,830.0,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,32.77,80.0,800.0,Nintendo,E
6,New Super Mario Bros.,DS,2006,Platform,Nintendo,29.80,89.0,850.0,Nintendo,E
7,Wii Play,Wii,2006,Misc,Nintendo,28.92,58.0,660.0,Nintendo,E

jogos menos vendidos

In [30]:
dataset.sort_values(["Global_Sales"], ascending = [True]).head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,Global_Sales,Critic_Score,User_Score,Developer,Rating
16533,Hoshigami: Ruining Blue Earth Remix,DS,2007,Role-Playing,505 Games,0.01,55.0,790.0,Barnhouse Effect,T
16433,Greg Hastings' Tournament Paintball Max'd,PS2,2006,Shooter,Activision,0.01,70.0,920.0,Activision Value,E10+
16459,Powerdrome,XB,2004,Racing,Evolved Games,0.01,69.0,700.0,Argonaut Games,T
16347,F.E.A.R. Perseus Mandate,PC,2007,Shooter,Vivendi Games,0.01,61.0,730.0,TimeGate Studios,M
16156,The Last Remnant,PC,2009,Role-Playing,Square Enix,0.01,66.0,830.0,Square Enix,M

Todos os jogos do PS4, mostrando apenas as seguintes colunas: nome, ano de lançamento e desenvolvedor.

In [31]:
dataset.loc[dataset["Platform"] == "PS4", ["Name", "Year_of_Release", "Developer"]]

,Name,Year_of_Release,Developer
42,Grand Theft Auto V,2014,Rockstar North
77,FIFA 16,2015,EA Sports
92,Call of Duty: Advanced Warfare,2014,Sledgehammer Games
94,FIFA 17,2016,"EA Sports, EA Vancouver"
105,Fallout 4,2015,Bethesda Game Studios
...,...,...,...
16137,Super Stardust Ultra VR,2016,Sony Interactive Entertainment
16490,Super Dungeon Bros,2016,React Games
16503,Sherlock Holmes: The Devil's Daughter,2016,Frogwares
16530,Dungeons 2,2016,Kalypso
16534,Carmageddon: Max Damage,2016,Stainless Games

Jogos PS4 com User_Score maior que 85

In [32]:
dataset.query("Platform == 'PS4' and `User_Score` > 85")

,Name,Platform,Year_of_Release,Genre,Publisher,Global_Sales,Critic_Score,User_Score,Developer,Rating
42,Grand Theft Auto V,PS4,2014,Action,Take-Two Interactive,12.61,97.0,830.0,Rockstar North,M
77,FIFA 16,PS4,2015,Sports,Electronic Arts,8.57,82.0,430.0,EA Sports,E
92,Call of Duty: Advanced Warfare,PS4,2014,Shooter,Activision,7.66,83.0,570.0,Sledgehammer Games,M
94,FIFA 17,PS4,2016,Sports,Electronic Arts,7.59,85.0,500.0,"EA Sports, EA Vancouver",E
105,Fallout 4,PS4,2015,Role-Playing,Bethesda Softworks,7.16,87.0,650.0,Bethesda Game Studios,M
...,...,...,...,...,...,...,...,...,...,...
16137,Super Stardust Ultra VR,PS4,2016,Shooter,Sony Computer Entertainment,0.01,66.0,620.0,Sony Interactive Entertainment,E10+
16490,Super Dungeon Bros,PS4,2016,Action,Nordic Games,0.01,42.0,230.0,React Games,E10+
16503,Sherlock Holmes: The Devil's Daughter,PS4,2016,Adventure,Bigben Interactive,0.01,70.0,680.0,Frogwares,T
16530,Dungeons 2,PS4,2016,Role-Playing,Kalypso Media,0.01,61.0,790.0,Kalypso,T
16534,Carmageddon: Max Damage,PS4,2016,Action,Stainless Games,0.01,51.0,550.0,Stainless Games,M

Criar uma nova coluna, que é a média de Critic_Score e User_Score.

In [ ]:
dataset["Score"] = (dataset["Critic_Score"] + dataset["User_Score"]) / 2

Excluir as colunas Critic_Score e User_Score.

In [ ]:
dataset.drop(["Critic_Score", "User_Score"], axis = 1, inplace = True)